/**
* Include theme main color
**/
$primary: #444;
$secoundary: #2d53fe;
$body_color: #505050;
$header_color: #111111;
$post_meta_icon_color:#111111;
$link_hover_color:#6c757d;
$post_meta_color: #989898;
$post_heading_color: #111111;
$widgets_title_color:#111111;
$menu_color: #111111;
$red: #f00;
$black:#000;
$white: #fff;
$light_green: #47b749;
$deep_green: #006600;
$light_green_rgb: rgba(71, 183, 73, .20);