@import "_color";
$font_family: 'Roboto', sans-serif;
$heading_font_family:  'Roboto', sans-serif;

body{
  font-family: $font_family;
  font-size: 16px;
  color: $body_color;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: $heading_font_family;
  color: $header_color;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 18px;
}
h4{
  font-size: 16px;
}
img{
  max-width: 100%;
}
a{
  &:hover{
    color: $link_hover_color;
  }
}